        :root {
            --left-container: rgb(144, 218, 169);
            --right-container: rgb(139, 139, 210);
            --left-font: Sansita;
            --right-font: Saira Stencil;
        }

        .container {
            display: flex;
            gap: 20px;
            border: 1px solid red;
            align-items: center;

        }


        .left {
            flex: 1;
            border: 1px solid black;
            background-color: var(--left-container);
            font-family: var(--left-font);
        }

        .right {
            flex: 1;
            border: 1px solid black;
            background-color: var(--right-container);
            font-family: var(--right-font);

        }

        img {
            width: 100%;
            height: auto;
        }


        /* @media screen and (max-width: 980px) {
            .container {
                flex-direction: column;
                background-color: red;
            }
        }


        @media screen and (max-width:600px) {
            .container {
                background-color: var(--bg-color);
            }
        }


        @media screen and (width:400px) {
            .container {
                background-color: blue;
            }
        } */