<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class 1 html123</title>
</head>

<body>
    <!-- Block Level tags -->
    <!-- <h1>Hello World!</h1>
    <h2>Hello World!</h2>
    <h3>Hello World!</h3>
    <h4>Hello World!</h4>
    <h5>Hello World!</h5>
    <h6>Hello World!</h6>

    <p>this is paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium aut reprehenderit fugit
        quis quod alias cupiditate, modi repudiandae quidem, inventore cum qui fugiat velit voluptatum. Possimus impedit
        perferendis modi minus!</p>

    <p>this is paragraph</p>


    <div>this is block level tag 1</div>
    <div>this is block level tag 2 </div> -->


    <!-- <div> -->
    <!-- <div>this is block level tag 3</div>
    <div>this is block level tag 4 </div> -->
    <!-- </div> -->

    <!-- <ul> -->
    <!--  unordered list -->
    <!-- <li>2</li>
    </ul> -->

    <ol type="I"> <!--  ordered list -->
        <li>ordered list</li>
        <li>ordered list 2</li>
        <li>
            <ol type="a">
                <li>Nested List</li>
                <li>nested item 2</li>
                <li>nested item 3
                    <ol type="i">
                        <li>list 3</li>
                    </ol>
                </li>
            </ol>
        </li>
    </ol>

    <!-- <ul type="circle"> -->
    <ul type="disc">
        <li> li item 1</li>
        <li>li item 2
            <ul type="square">
                <li> nest ul item 1 </li>
                <li> nest ul item 2 
                    <ul type="circle">
                        <li> deep nested ul item 1 </li>
                        <li> deep nested ul item 2 </li>
                    </ul>
                </li>
            </ul>


        </li>
    </ul>

    <!--     <hr> -->
    <!-- <header>
        <div>
            this is annoncement bar
        </div>

        <nav>
            this is navgation
        </nav>
        <div>
            this is trending bar
        </div>
    </header>

    <section>
        this is hero
    </section> -->
    <!-- <section>this is section 2 </section> -->

    <!-- <section>this is about </section>

    <section>this is contact section </section>
    <section>this is faq </section>

    <footer>
        this is footer
    </footer> -->



    <!-- inline -->
    <span align="center"> this is span </span>
    <center>
        center
    </center>
    <span> this is span </span>
    <span> this is span </span>

    <a href="https://www.aljazeera.com/economy/2026/1/27/mother-of-all-deals-how-india-eu-trade-deal-creates-27-trillion-market"
        target="_blank">
        Read Article

    </a>
    <a href="">link2</a>

    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur quas <strong>strong</strong>
        unde nisi at vero est distinctio quod natus. Quidem magnam aut sed asperiores aliquam nam totam
        <i>italics</i>
        amet, quis
        dolorum officia consequatur quia ipsa velit impedit ex labore soluta,
        <b>b tag</b>
        voluptates vitae.
        unde nisi at vero est distinctio quod natus. Quidem magnam aut sed asperiores aliquam nam totam amet, quis
        dolorum officia consequatur quia ipsa velit impedit ex labore soluta, voluptates vitae.
        <sub>
            subscript
        </sub>
        <span>2</span>
        <sup>
            2
        </sup>

        Lorem, ipsum.

        <sup>
            n
        </sup>

        <span>C</span>
        <sub>
            r
        </sub>

    </p>

    <!-- <input type="text" name="" id=""> -->



</body>

</html>